body{
    background-color: rgb(140, 223, 17);
}
.contenitore{
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    padding: 50px;
}
.logo img{
    width: 100%;
}
.section{
    margin-top: 50px;
    margin-bottom: 50px;
}
.section .lista{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 16px;
}
.section ul li{
    list-style: none;
}
.element-list{
    align-items: center;
}
.section ul li:hover{
    background-color: white;
    border-radius: 10px;
}
button{
    border-radius: 10px;
    box-shadow: 0 0 3px red;
    border: 2px solid rgb(233, 233, 233);
}
button:hover{
    box-shadow: 0 0 5px lightskyblue;
}